<div class="row">
    <div class="col-md-12">
        <form>
            <mat-form-field>
                <mat-label>Movie Name:</mat-label>
                <input matInput type="text" [(ngModel)]="movieName">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Genre:</mat-label>
                <input matInput type="text" [(ngModel)]="movieGenre">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Director:</mat-label>
                <input matInput type="text" [(ngModel)]="movieDirector">
            </mat-form-field><br>
            <button mat-raised-button color="primary" (click)="onAddMovie()">Save</button>
            <button mat-raised-button color="Accent" (click)="onCopyMovie()">Copy</button>
        </form>
    </div>
</div>